
/**
* Global styles.
* ----------------------------------------------------------------------
*/
body {
  background-color: #485461;
  background-image: linear-gradient(#28313B, #485461);  
  background-repeat: no-repeat;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #fff;
}

th {
  background-color: #485461;
  color: white;
}

table{
    overflow-y: auto;
}


/**
* Class and ID specific styles
* --------------------------------------------------------------------------------------------
*/

.flex_container {
    display: flex;
}

.table_container{
    overflow-y: auto;
    flex: 7;
    height: 50rem;
}

#all_games{
    white-space:pre-wrap;
    display:none;
}

.query_dropdown{
    color:azure;
    flex: 1;
}

.company_title{
    color:whitesmoke;
    font-size: xx-large;
    flex: 2;

}

.all_games_table{
    border-collapse: collapse;
    background-color: #eee;
}