<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/game_company.css') }}">
    <script src="{{ url_for ('static', filename='scripts/game_company.js') }}" defer></script>
</head>

<body>
    <h1>Welcome to <b>Game-Tier</b></h1>
    <hr>
    <h3>Select a company to start reviewing their games.</h3>
    <div class="home">
        
        <div class="game_companies">{{ allCompanies }}{{ allFounded }}</div>

        <div class="sort_options">
            <ul>
                <h2 class="sort_header">Sort companies</h2> 

                <form action="/" method="post">
                    <h2 class="sort_title">Ascending</h2>
                    <!-- The names of each button are used in the post request for flask through "if (name in request.form) syntax. In which request.form is the multidict"-->
                    <button type="submit" name="alpha_ascend"><li class="sort_item">company names</li></button>
                    <button type="submit" name="company_found_ascend"><li class="sort_item">company founded</li></button>
                    <button type="submit" name="country_produced_ascend"><li class="sort_item">country developed</li></button>
                    <button type="submit" name="top_grossing_ascend"><li class="sort_item">top grossing game</li></button>
                    <h2 class="sort_title">Descending</h2>
                    <button type="submit" name="alpha_descend"><li class="sort_item">company names</li></button>
                    <button type="submit" name="company_found_descend"><li class="sort_item">company founded</li></button>
                    <button type="submit" name="country_produced_descend"><li class="sort_item">country developed</li></button>
                    <button type="submit" name="top_grossing_descend"><li class="sort_item">top grossing game</li></button>
                </form>
            </ul>

        </div>
    </div>
</body>